<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="127.0.0.1_WishTech_Connection" connectionString="XpoProvider=MSSqlServer;data source=127.0.0.1;user id=sa;password=123;initial catalog=WishTech;Persist Security Info=true" />
    </connectionStrings>
</configuration>